@model MeetingInfo
@{
    ViewBag.Title = "Main Page";
    Layout = "_Layout2";
}

<main class="text-center">
    <h1 class="h4">@ViewBag.sayhi@ViewBag.UserName</h1>
    @foreach (var meeting in Repository.Meetings)
    {
        <p>Report Your Meeting Participation Status!</p>
        <div class="card my-2">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    @meeting.MeetingLocation
                </li>
                <li class="list-group-item">
                    @meeting.MeetingDate.ToString("dd/MM/yyyy HH:mm:ss")
                </li>
                <li class="list-group-item">
                    @Repository.Users.Where(x => x.WillAttend == true).Count() Participant
                </li>
            </ul>
        </div>
        <a class="btn btn-sm btn-outline-primary mb-5 " asp-controller="Meeting" asp-action="Apply" >Başvuru Yap</a>
    }
    
</main>
